{% extends 'base.html' %}

{% block title %}Add Widget{% endblock %}

{% block content %}
<div class="content mt-3">
	<div class="animated fadeIn">
		<div class="row">
			<div class="col-xs-6 col-sm-6">
				<div class="card">
					<div class="card-header">
						<strong class="card-title">Standard Select</strong>
				    	</div>
				    	<div class="card-body">
						<select onchange="updateWidgets()" data-placeholder="Choose a service to add" class="standardSelect" tabindex="1" id="chooseWidget">
							<option value=""></option>
							{% for form in forms%}
								<!-- <option value="{{widget.api_route}}">{{widget.name}}</option> -->
								<option value="{{form.name}}">{{form.name}}</option>
							{% endfor %}
						</select>
						{% for form in forms%}
							<form method="post" action="/addWidget/" name="addWidget" id="form" onsubmit="return closeSelf()">
								{% csrf_token %}
								
								<button type="submit" id="Validate" class="btn btn-primary btn-sm">
										<i class="fa fa-dot-circle-o"></i> Add
									</button>
							</form>
						{% endfor %}
					    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
	function closeSelf() {
		document.forms['addWidget'].submit();
		// window.close();
	}
	function updateWidgets() {
		var e = document.getElementById("chooseWidget");
		var value = e.options[e.selectedIndex].value;
		var form = document.getElementById("form")
		var input = document.createElement("input");

		input.setAttribute("type", "hidden");
		input.setAttribute("name", "widget_name");
		{% for form in forms %}
			if ("{{form.name}}" == value) {
				let backup = form.innerHTML;
				let lo = ""
				{% for field in form.form %}
				{% endfor %}
				form.innerHTML = '{{form.form}}' + backup
				input.setAttribute("value", "{{form.name}}");
				form.appendChild(input);
				return 0;
			}
		{% endfor %}

	}
	document.getElementById('Validate').addEventListener('click', () => {
		window.opener.postMessage('close', 'http://localhost:8080')
	});

        jQuery(document).ready(function() {
        jQuery(".standardSelect").chosen({
                disable_search_threshold: 10,
                no_results_text: "Oops, nothing found!",
                width: "100%"
            });
        });
    </script>
{% endblock %}