{% extends 'base.html' %}

{% block title %}Add Widget{% endblock %}

{% block content %}
<div class="content mt-3">
	<div class="animated fadeIn">
		<div class="row">
			<div class="col-xs-6 col-sm-6">
				<div class="card">
				    <div class="card-header">
					<strong class="card-title">Standard Select</strong>
				    </div>
				    <div class="card-body">
					<select data-placeholder="Choose a Country..." class="standardSelect" tabindex="1">
					    
					<option value=""></option>
					{% for widget in widgets%}
						<option value="{{widget.api_url}}">{{widget.name}}</option>
					{% endfor %}
					</select>
				    </div>
				</div>
			</div>
<script>
        jQuery(document).ready(function() {
            jQuery(".standardSelect").chosen({
                disable_search_threshold: 10,
                no_results_text: "Oops, nothing found!",
                width: "100%"
            });
        });
    </script>
{% endblock %}